body,h1,h2,h3,h4,h5,li,ol,ul,p{
	margin: 0;
	padding: 0;
}

@font-face{
    font-family: Bernadette;
    src: url(../font/bernadette.ttf);
}

/* FORMATAÇÃO DO CONTAINER PRINCIPAL */
.principal{
    background-color: #f2f2f2;
    height: 900px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

/* FORMATAÇÃO DO CABEÇALHO/MENU */

#header{
    width: 100%;
    height: 40%;
    background-color: wheat;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}

#header_logo{
    width: 100%;
    height: 65%;
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.2);
    background-color: #000;
    z-index: 999;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#header_titulo{
    width: 70%;
    height: 100%;
    padding-top: 90px;
    float: left;
    
    text-align: center;
    font-family: aharoni;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
}

#header_imagem{
    width: 30%;
    height: 100%;
    float: left;
    padding-top: 30px;
}

#header_menu{
    height: 160px;
    width: 100%;
    background-color: #f2f2f2;
    
}

#menus{
    height: 100%;
    width: 80%;
    float: left;
    margin-top: -90px;
    float: left;
}

#login{
    height: 100%;
    width: 20%;
    float: left;
    margin-top: -90px;
}

#nome{
    height: 25%;
    width: 75%;
    margin-top: 50px;
    margin-left: 10px;
    border-bottom: 3px solid #000;
}

#sair{
    height: 15%;
    width: 30%;
    margin-left: 130px;
    margin-top: 35px;
    background-color: #000;
    padding: 5px 5px 0px 5px;
    align-content: center;
    text-align: center;
    border-radius: 5px;
}

#sair a{
    text-decoration: none;
    color: inherit;
}

#sair:hover{
    background-color: #a641b5;
    cursor: pointer;
}

#nome h1{
    font-family: Bernadette;
    font-size: 22px;
}

#sair h1{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
}

.item{
    margin-left: 40px;
    margin-top: 20px;
    width: 20%;
    float: left;
}

.item p:hover{
    background-color: #000;
    padding: 0px 2px 0px -10px;
    border-radius: 5px;
    color: aliceblue;
    transition: 1.0;
}

.item p{
    width: 60%;
    font-size: 14px;
    font-family: century gothic, sans-serif;
    color: #a641b5;
    text-transform: uppercase;
    margin-left: -5px;
    font-weight: bold;
    align-content: center;
    text-align: center;
}

.item_menu a{
    text-decoration: none;
    color: inherit;
}

/* FORMATAÇÃO DO CONTEUDO */

#content{
    width: 100%;
    min-height: 500px;
    height: auto;
    background-color: #f2f2f2;
    margin-top: 60px;
}


/* FORMATAÇÃO DO FOOTER */

#footer{
    width: 100%;
    height: 5%;
    background-color: #000; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 5px;
    
    color: aliceblue;
    font-family: Bernadette;
    text-align: center;
    float: left;
}

/* FORMATAÇÃO DA PAGINA DE MENUS LISTADOS */

#caixa_inicio{
    width: 100%;
    height: 300px;
    margin-top: 60px;
    background-color: #f2f2f2;
}

#caixa_inicio h1{
    text-align: center;
    align-content: center;
    font-family: Bernadette;
    margin-top: 300px;
    font-size: 50px;
    
}

#caixa_inicio p{
    text-align: center;
    align-content: center;
    font-family: ;
    margin-top: 50px;
    
}

.lista_menu{
    width: 100%;
    height: 100%;
    float: left;
    align-content: center;
    
}

.cont_menu{
    width: 80%;
    height: 100%;
    background-color: #f2f2f2;
    
}

.cont_menu h1{
   font-family: Bernadette;
    text-align: center;
    color: black;
}

.item_menu{
    height: 130px;
    width: 420px;
    background-color: #000;
    float: left;
    margin-top: 30px;
    margin-left: 100px;
}

.item_menu:hover{
    background-color: #a641b5;
    
}

.item_menu img{
    margin-left: 40px;
    margin-top: 20px;
}

.item_menu h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 140px;
    margin-top: -45px;
    color: #f2f2f2;
}


/* FORMATAÇÃO DO FALE CONOSCO */

#caixa_faleconosco{
    width: 100%;
    height: 500px;
    background-color: #f2f2f2;
    margin-top: 10px;
    float: left;
}

table{
    margin-left: 85px;
    margin-top: 30px;
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.2);
    overflow:auto;
}

#caixa_faleconosco td{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

#caixa_faleconosco p{
    color: aliceblue;
    align-content: center;
    margin-top: -3px;
}

.flconosco{
    height: 500px;
    background-color: aliceblue;
}

.item_flconosco{
    background-color: darkorchid;
    font-family: arial;
    text-transform: uppercase;
    color: #fff;
}

/* FORMATAÇÃO DO MODAL */
#caixa_modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 999;
    display: none;
   
}

#modal{
    width: 700px;
    height: 400px;
    background-color: #f2f2f2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#cont_modal{
    width: 600px;
    height: 300px;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
}
#cont_modal img{
    margin-top: -295px;
    margin-left: 610px;
}

#item_modal{
    width: 600px;
    height: 300px;
    float: left;
}

#item_modal h1{
    font-family: Bernadette;
    font-size: 22px;
    border-bottom: 1px solid #000;
    text-align: center;
}

.item_m{
    margin-top: 5px;
    font-family: Arial;
}

.msg{
    width: 250px; 
    height: 90px; 
    overflow: auto;
}

.titulo_modal{
    font-weight: bold;
}

.resp_modal{
    text-transform: lowercase;
}


/* adm DE USUÁRIOS */
#caixa_adm_usuario{
    width: 100%;
    height: 800px;
    background-color: #f2f2f2;
    margin-top: 60px;
}

.lista_menu_adm{
    width: 15%;
    height: 100%;
    float: left;
}

.listagem{
    width: 100%;
}


.item_menu_adm{
    height: 134px;
    width: 100%;
    margin-top: 120px;
}

.item_menu_adm1{
    height: 134px;
    width: 200px;
    margin-top: 150px;
    float: left;
    margin-left: 250px;
}


.item_menu_adm:hover{
    background-color: #a641b5;
    
}

.item_menu_adm img{
    margin-left: 40px;
    margin-top: 20px;
}

.item_menu_adm h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 40px;
    margin-top: 5px;
    color: #000;
}

/* ADM DE NIVEIS */
#caixa_nivel{
    width: 100%;
    height: 300px;
    margin-left: 150px;
    float: left;
}

#cont_nivel{
    width: 100%;
    height: 300px;
    background-color: #f2f2f2;
    float: left;
}

#caixa_nivel h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    margin-left: -352px;
}

.nivel{
    width: 500px;
    height: 100px;
    background-color: #dbbce0;
    margin-left: 150px;
    margin-top: 10px;
}

.input_nivel{
    margin-top: 20px;
}

.nivel h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}

.niveis{
    width: 500px;
    height: 20px;
    background-color: #dbbce0;
    margin-left: 150px;
    margin-top: 10px;
}

.item_nivel{
    float: left;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #f2f2f2;
    width: 20%;
}

.item_resp{
    float: left;
    margin-left: 50px;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

/* PAGINA DE USUARIOS */

.cont_menu_adm{
    width: 100%;
    height: 99%;
    background-color: #f2f2f2;
    float: left;
}

.btn{
    background-color: #000;
    padding: 10px 10px 10px 10px;
    border: none;
    color: aliceblue;
}

.caixa_cad_usuario{
    width: 450px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #dbbce0;
    color: #000;
    font-family: arial;
    align-content: center;
    text-align: center;
    
}

.caixa_cad_usuario h1{
    font-size: 19px;
    text-align: center;
    border-bottom: 1px solid black;
    background-color: #f2f2f2;
    margin-top: 10px;
}
.caixa_rs_usuarios{
    width: 100%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: #dbbce0;
    font-family: Arial, Helvetica, sans-serif;
}

.caixa_rs_usuarios h1{
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid black;
    background-color: #f2f2f2;
}

.caixa_rs{
    width: 100%;
    background-color: #dbbce0;
    margin-top: 10px;
}

.rs_usuario, .rs_usuario_pri{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    width: 20%;
    margin-top: 10px;
}

.rs_usuario_pri{
    font-weight: bold;
    border-top: 1px solid #000;
}





.resp_cadcaixa{
    align-content: center;
    text-align: center;
    width: 400px;
    margin-left: 380px;
    margin-top: 50px;
    float: left;
}

/* formatação pagina de autores */

.caixa_cad_autor{
    width: 100%;
    height: 800px;
    float: left;
}

.cad_autor{
    width: 400px;
    height: 250px;
    background-color: cornsilk;
    float: left;
    margin-left: 80px;
    margin-top: 40px;
}

#vizualizar{
    width: 400px;
    height: 250px;
    background-color: aliceblue;
    border-radius: 10px;
    float: left;
    margin-top: 40px;
    margin-left: 10px;
}

.caixa_res_autor{
    width: 700px;
    height: 350px;
    background-color: cornsilk;
    float: left;
    margin-left: 100px;
    margin-top: 40px;
}

.caixa_cad_autor h1{
    background-color: #f2f2f2;
    border-bottom: 1px solid #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
}

.caixa_cad_autor h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.item_autor{
    width: 100%;
    height: auto;
    background-color: #dbbce0;
    margin-top: 5px;
    align-content: center;
}

p{
    margin-top: 20px;  
}

/* FORMATAÇÃO DO NOSSAS LOJAS */
#caixa_lojas{
    width: 100%;
    height: 500px;
    float: left;
}

.cad_lojas{
    align-content: center;
    text-align: center;
    width: 400px;
    height: 200px;
    background-color: #dbbce0;
   margin-left: 380px;
    margin-top: 50px;
    font-family: arial;
}

.cad_lojas h1, .resp_lojas h1{
    font-family: Arial;
    border-bottom: 1px solid #000;
    font-size: 18px;
    margin-top: 20px;
}

.resp_lojas{
    align-content: center;
    text-align: center;
    width: 400px;
    margin-left: 380px;
    margin-top: 50px;
    float: left;
}

.item_loja{
    float: left;
    width: 50%;
    font-family: arial;
}

.item_cad_loja{
    margin-top: 10px;
}
.btn_loja{
    background-color: #000;
    padding: 10px 10px 10px 10px;
    border: none;
    color: aliceblue;
    margin-top: -10px;
}

.scroll_loja{
    width: 400px;
    height: 60px;
    overflow: auto;
}

/******** FORMATAÇÃO DO SOBRE ***********/

#cad_caixa_sobre{
    width: 100%;
    height: 800px;
}

.cad_sobre{
    align-content: center;
    text-align: center;
    width: 400px;
    height: 400px;
    background-color: #dbbce0;
    margin-top: 50px;
    font-family: arial;
    margin-left: 120px;
    float: left;
}

.visualizar{
     align-content: center;
    text-align: center;
    width: 400px;
    height: 350px;
    background-color: #dbbce0;
    margin-top: 50px;
    font-family: arial;
    margin-left: 50px;
    float: left
}

.visualizar img{
   width: 400px;
    height: 350px; 
}

.resp_sobre{
     align-content: center;
    text-align: center;
    width: 400px;
    margin-left: 380px;
    margin-top: 50px;
    float: left;
    color: white;
    background-color: black;
}

.text{
    width: 190px;
    height: 130px;
    resize: none;
}

.h1_sobre{
    font-family: Arial;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    color: white;
    margin-top: 20px;
    margin-bottom: 15px;
}

.scroll_sobre{
    width: 400px;
    height: 120px;
    overflow: auto;
}


/* FORMATACAO DE PROMOÇOES */
#cad_caixa_prom{
    width: 100%;
    height: 900px;
}

.cad_prom{
    align-content: center;
    text-align: center;
    width: 430px;
    height: 620px;
    background-color: #dbbce0;
    margin-top: 50px;
    font-family: arial;
    margin-left: 120px;
    float: left;
    border-radius: 10px;
}

.resp_prom{
     align-content: center;
    text-align: center;
    width: 400px;
    margin-left: 600px;
    margin-top: -250px;
    float: left;
    color: white;
    background-color: black;
    border-radius: 10px;
}

/* usuario */
.cad_user{
    align-content: center;
    text-align: center;
    width: 430px;
    height: 400px;
    background-color: #dbbce0;
    margin-top: 50px;
    font-family: arial;
    margin-left: 120px;
    float: left;
    border-radius: 10px;
}

#cad_caixa_user{
    width: 100%;
    height: 500px;
}



















